.App{
  display: flex;
  flex-direction: column;
}

.App-header{
  display: inherit;
  height: 5vh;
}

.body-main{
  height: 95vh;
  display: inherit;
  flex-wrap: wrap;
}

.anime{
  height: 30vh;
  width: 18vh;
  margin-left: 2rem;
}
